.position-relative
  position relative

.align-right
  text-align: right

.full-screen
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  background #FFF
  z-index 200
  max-height 100vh

button.button-reset
  border none
  padding 0
  transition all 200ms ease-in-out

button.button-reset:focus
  outline none
  border 1px solid rgba(0,0,0,0)
  box-shadow 0 0 0 2pt var(--highlight)

.no-select:focus
  outline none !important
  box-shadow none !important

.opacity75
  opacity .75

.transition-200ms
  transition all 200ms ease-in-out

.flex-container
  display flex

.flex-one-row
  flex-wrap nowrap

.flex-one-row > *
  flex-shrink 0
  flex-grow 0

.float-right
  float right

.webkit-box-container
  display grid
  grid-template-columns repeat( auto-fit, minmax(150px, 1fr) )

.background-alternative
  background var(--background)

.anim-underline
  position relative

.anim-underline:after
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  bottom: 0;
  background: var(--active);
  transition: width .2s ease;
  -webkit-transition: width .2s ease;

.anim-underline.color-theme:after
  background: var(--turquoise);

.anim-underline.active:after
  width: 100%;
  left: 0;
  bottom: 0;

.sidebar__section
  margin-bottom 2rem

.sidebar__section-header
  margin-top 0.2rem
  margin-bottom 0.5rem
  font-size 0.75rem
  line-height 0.875rem
  font-weight 500
  letter-spacing 0.06rem
  text-transform uppercase

/* ORIGINAL */

.cursor-point
  cursor pointer
.cursor-no
  cursor not-allowed

.text-small
  font-size 0.875rem /*14px*/
  line-height 1.125rem

.hyphenate
  overflow-wrap break-word
  hyphens auto

.h6_caption
  color var(--turquoise)
  font-size 0.625rem
  line-height 0.7rem
  font-weight 700
  letter-spacing 0.1rem

.h6_captionneutral
  margin-bottom 0.5rem
  color var(--black2)
  font-size 0.625rem
  line-height 0.7rem
  font-weight 700
  letter-spacing 0.1rem

.paragraph_lille
  margin-bottom 0.5rem
  font-size 0.875rem
  line-height 1.125rem

.paragraph_micro
  font-size 0.75rem
  line-height 1rem
  padding-top: 0rem
  padding-bottom 0rem
  margin-top 0
  margin-bottom 0

.white-text
  color var(--white) !important

.black-text
  color var(--black) !important

/* ELEMENTs  */

.box__large
  margin 0
  padding 0
  border-radius 8px
  overflow hidden
  box-sizing content-box
  border 1px solid var(--darkSteel)
  background-color var(--white)
  &:focus
    outline none
    border: 4px solid var(--highlight);

.box__small {
  margin: 0;
  padding: 0;
  border-radius: 8px;
  overflow: hidden;
  box-sizing: content-box;
  border: 2px solid var(--darkSteel);
  background-color: var(--white);
}

.buttonmaster
  height 2rem
  padding 0
  box-sizing content-box
  display inline-flex
  justify-content center
  align-items center
  border 1px solid var(--darkSteel)
  border-radius 17px
  font-size 0.75rem
  line-height 0.9rem
  font-weight 400
  text-transform uppercase
  transition all 200ms ease-in-out
  &:hover
    background-color var(--lightSteel)
  &:focus
    outline none
    border 1px solid rgba(0,0,0,0)
    box-shadow: 0 0 0 2pt var(--highlight);

.buttonmaster > span
  margin 0 .5rem
  &:first-child
    margin-left 1rem
  &:last-child
    margin-right 1rem

.buttonmaster.sm
  height 20px
  border-radius 50%

.buttonmaster.no-border
  border 1px solid rgba(0,0,0,0)

.buttonmaster.no-select:focus
  outline none !important
  border 1px solid rgba(0,0,0,0)
  box-shadow none !important

.buttonmaster.primary
  border 1px solid var(--primary)
  background-color var(--primary)
  color var(--white)
  &:hover
    background-color: var(--action)

.animDuration100
  animation-duration 100ms !important
.animDuration150
  animation-duration 150ms !important
.animDuration200
  animation-duration 200ms !important
.animDuration250
  animation-duration 250ms !important
.animDuration300
  animation-duration 300ms !important
.animDuration350
  animation-duration 350ms !important
.animDuration400
  animation-duration 400ms !important
.animDuration450
  animation-duration 450ms !important
.animDuration500
  animation-duration 500ms !important
.animDuration900
  animation-duration 900ms !important

.animDelay0
  animation-delay 0ms !important


